@import "variables";
@import "mixins";

.debug {
  box-sizing: border-box;
  border: 1px solid red;
}

.g {
  // flex
  &-flex {
    display: flex;

    &-top {
      align-items: flex-start;
    }

    &-middle {
      align-items: center;
    }

    &-bottom {
      align-items: flex-end;
    }

    &-stretch {
      align-items: stretch;
    }

    &-baseline {
      align-items: baseline;
    }

    &-left {
      justify-content: flex-start;
    }

    &-center {
      justify-content: center;
    }

    &-right {
      justify-content: flex-end;
    }

    &-between {
      justify-content: space-between;
    }

    &-around {
      justify-content: space-around;
    }
  }

  // text align
  @each $position in left, center, right {
    &-align-#{$position} {
      text-align: $position;
    }
  }

  &-gap {
    margin-top: 16px;

    &-l {
      margin-top: 24px;
    }

    &-s {
      margin-top: 8px;
    }
  }
}
