// ======================================
// Color
// ======================================
// 主题色
$g-color-primary: #477fe3;
// 背景色
$g-color-background: #f7f5f6;
// 基础字体颜色
$g-color-text: #333;
// 基础动画时长
$g-time-animation: 0.3s;
